input[type="button"]{
	-webkit-appearance: none;
	border-radius: none;
}

body {
	background-color: black;
	width: auto;
}

header h1 {
	color: #fff;
	font-family: 'Oswald';
	text-align: center;
	cursor: default;
	margin: auto;
	width: 200px;
	-webkit-transition: all .2s;

}

#player {
	width: 853px;
	height: 480px;
	display: block;
	margin: auto;
}

.noButtons {
	text-align: center;
	cursor: default;
}

.noButton {
	-webkit-transition: all .25s;
}

.noButton {
	display: inline-block;
	width: 70px;
	height: 60px;
	margin: 0 15px;
	color: #999;
	font-family: 'Oswald';
	font-size: 22px;
	background-color: #900;
	border-style: none;
	border-radius: 4px;
}

.noButton:hover {
	background-color: #000;
	color: #f00;
	cursor: pointer;
}

#player h2 {
	color: #fff;
	text-align: center;
	line-height: 480px;
	z-index: -1;
	cursor: default;
}