body {
	background-color: black;
	width: auto;
}

header h1 {
	color: #fff;
	font-family: 'Oswald', sans-serif;

}

#player {
	width: 853px;
	height: 480px;
	display: block;
	margin: auto;
}

.noButton {
	width: 117px;
	height: 40px;

}

h2 {
	color: #fff;
}