body {
	background-color: black;
	width: auto;
}

header h1 {
	color: #fff;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

#player {
	width: 853px;
	height: 480px;
	display: block;
	margin: auto;
}

.noButtons {
	text-align: center;
}

.noButton {
	-webkit-transition: all .2s;
}

.noButton {
	display: inline-block;
	width: 80px;
	height: 60px;
	margin: 0 10px;
	font-family: 'Oswald';
	font-size: 22px;
	background-color: #900;
	border-style: none;
	border-radius: 10px;

}

.noButton:hover {
	background-color: #f00;
	cursor: pointer
}

#player h2 {
	color: #fff;
	text-align: center;
	z-index: -1;
}